# Django Settings
SECRET_KEY=django-insecure--00fraw(h)@gox)f%4^f70hu$(z3ip--^(h1x_t9+(8*51h93a
DEBUG=True

# Razorpay Keys
RAZOR_KEY_ID=your_razorpay_key_id_here
RAZOR_KEY_SECRET=your_razorpay_key_secret_here

# Gmail SMTP Email Configuration
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_gmail_app_password_here
